.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    background: #18044a9c;
    width: 800px;
    border-radius: 15px;
}

.quote{
    font-family: "satisfy", cursive;
    padding: 60px 110px;
    color: white;
    font-size: 28px;
    text-align: center;
}

.line{
    width: 680px;
    height: 1.5px;
    background: white;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}
.author{
    font-family: "satisfy", cursive;
    color: white;
    font-size: 20px;
    font-weight: 500;
    color: greenyellow;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons img{
    color: greenyellow;
    cursor: pointer;
    height: 40px;
}